---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Mark Claxton - Lead Designer & Developer">
  <Header />
  <main>
    <section>
      <h1>Lead designer and developer at <a href="https://herd.io" target="_blank">Herd</a>, specialising in building and maintaining custom Shopify themes.</h1>
      <div class="clients">
        <h2>Some of the clients I’ve worked with:</h2>
        <ul>
          <li><a href="https://www.facethefuture.co.uk/" target="_blank">Face the Future</a></li>
          <li><a href="https://spitfireaudio.com/" target="_blank">Spitfire Audio</a></li>
          <li><a href="https://dockandbay.com/" target="_blank">Dock & Bay</a></li>
          <li><a href="https://pdhsports.com/" target="_blank">PDH Sports</a></li>
          <li><a href="https://startsafety.uk/" target="_blank">Start Safety</a></li>
          <li><a href="https://www.stephenwebster.com/" target="_blank">Stephen Webster</a></li>
          <li><a href="https://www.chillys.com/" target="_blank">Chilly’s</a></li>
          <li><a href="https://www.oceanairuk.com/" target="_blank">Oceanair</a></li>
          <li><a href="https://www.hairburst.com/" target="_blank">Hairburst</a></li>
          <li><a href="https://ripongroundcare.com/" target="_blank">Ripon Ground Care</a></li>
          <li><a href="https://admiralsports.com/" target="_blank">Admiral Sports</a></li>
          <li><a href="https://cobrasport.com/" target="_blank">Cobra Sport</a></li>
        </ul>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
